<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                    <li ui-sref-active="active"  ><a ui-sref="about">About Us</a></li>
                    <li ui-sref-active="active" ><a ui-sref="services">Services</a></li>
                    <li ui-sref-active="active" ><a ui-sref="gallery">Gallery</a></li>
                    <li ui-sref-active="active" ><a ui-sref="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->